
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* CONTENEDORES DEL NAV Y EL FOOTER*/

/* MEDIA QUERIES PARA MOSTAR EL NAVBAR FIXED O RELATIVO*/
@media screen and ( min-width: 520px ){
    #navBar{
        position: fixed;
        width: 100%;
        top: 0%;
        z-index: 1000;
    }    
    .mainContainer{
        margin-top: 100px;
    }
}

@media screen and ( max-width: 519px ){
    #navBar{
        position: relative;
        width: 100%;
        top: 0%;
        z-index: 1000;
    }   
    .mainContainer{
        margin-top: 0;
    } 
}
/* ------------------------------------------------------------------------------------------------------------*/

body{
    background-color: rgb(22, 22, 22);
}

/* BAJAR EL CONTENEDOR PRINCIPAL PARA QUE NO LO OCULTE EL NAVBAR*/
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tarjeta{
    width: 400px;
    height: 400px;
    background-color: chartreuse;
    margin: 20px;
}